body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #b3b3b3;
}
.cv {
    width: 1024px;
    border: black solid 1px;
    margin: 0 auto;
    padding: 0;
}
.big_part{
    display: flex;
}
.left_section {
    justify-content: flex-start;
    align-items: stretch;
    width: 35%;
    background-color: #333333;
    color: white;
}
.photo {
    width: 100%;
    margin: 0;
}
.photo img {
    display: block;
    width: 100%;
}
.contacts {
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.h_contacts,
.h_skills {
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
}
.ul_contacts {
    list-style-type: none;
}
.ul_contacts li {
    padding: 8px;
    margin-left: -40px;
}
.li_contact {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
}
.ul_contacts i {
    display: inline-block;
    font-size: 22px;
    padding-right: 12px;
    color: #a7d943;
    padding-top: 10px;
}
.ul_contacts a, .place {
    color: white;
    font-size: 20px;
    padding-left: 35px;
}
.skills {
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.ul_skills {
    font-size: 26px;
    line-height: 40px;
}
.underlined_green {
    width: 100%;
    height: 2px;
    background-color: #a7d943;
    margin-left: -25px;
    margin-top: -13px;
    margin-bottom: 25px;
}
.main {
    justify-content: flex-end;
    width: 65%;
    background-color: white;
    padding-top: 50px;
}
.page_title {
    background-color: #a7d943;
    margin-top: -77px;
    height: 180px;
}
.name {
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 70px;
    padding-left: 70px;
}
.page_title p {
    font-style: italic;
    font-size: 24px;
    padding-left: 70px;
    margin-top: -25px;
}
.about_me, .education, 
.languages, .code_example {
    padding: 0 40px;
}
.h_title, .h_example {
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase; 
}
.about_me p {
    font-size: 20px;
    text-align: justify;
}
.h_education, .h_languages {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.university {
    font-size: 20px;
    margin-top: 10px;
}
.ul_lang {
    font-size: 20px;
    margin-top: 10px;
}
.divider_black {
    background-color: black;
    height: 1px;
    width: 30%;
}
.underlined_black {
    width: 100%;
    height: 2.3px;
    background-color: black;
    margin-left: -10px;
    margin-top: -14px;
    margin-bottom: 25px; 
    padding-right: 20px;
}
.code {
    font-size: 18px;
    margin-top: -20px;
    margin-left: -220px;
    margin-bottom: -15px;
}
.footer {
    display: inline-block;
    width: 1024px;
}
.footer_container {
    height: 100px;
    padding: 15px;
    background-color: #a7d943;
}
.ul_footer {
    text-align: center;
}
.footer .footer_container .ul_footer li {
    display: inline-block;
}
.footer .footer_container .ul_footer img {
    height: 70px;
}
.year {
    font-size: 40px;
    padding: 0px 200px 0px 230px;
}
.gh {
    margin-left: 10px;
}